.randomAnswererTitle {
  display: block;
  font-size: x-large;
  padding: 20px 0 20px 0;
}

.sticky-title {
  position: sticky;
  top: 0;
  background: aquamarine;
}

.randomAnswerer {
  display: block;
}

.hide {
  display: none;
}
