.container {
  padding: 40px 0;

  .title {
    padding-bottom: 10px;
  }

  .answererContainer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hide {
  display: none;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
}
