.contentContainer {
  padding: 45px 0 30px 0;

  .title {
    padding-bottom: 10px;
  }

  .answererContainer {
    height: 20px;
  }
}

.cardActions {
  justify-content: space-evenly;
}

.hide {
  display: none;
}
