$breakpoint: 700px;

@mixin mobile {
  @media (max-width: #{$breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

.content {
  margin: 10px;
  display: flex;

  @include mobile {
    flex-direction: column-reverse;
  }

  @include desktop {
    flex-direction: row;
  }
}

.studentsList {
  @include desktop {
    width: 250px;
    margin-right: 10px;
  }
}

.randomAnswerer {
  @include mobile {
    margin-bottom: 10px;
  }

  @include desktop {
    flex-grow: 1;
  }
}
